<section class="bestsellers">
  <div>
    <h1 class="bestsellers-title">Bestsellers</h1>
    <div>
    <img class="bestsellers-img"
    srcset="./img/bestsellers/img-1@1x.png 1x, ./img/bestsellers/img-1@2x.png 2x" 
    src="./img/bestsellers/img-1@1x.png"
    alt="The modern platform bed"/>
    <h3 class="bestsellers-list-text">The modern platform bed</h3>
    <p class="bestsellers-list-price">750$</p>
    </div>
    <ul class="bestselers-list">
        <li class="bestsellers-item">
            <img class="bestsellers-list-img" 
            srcset="./img/bestsellers/img-2@1x.png 1x, ./img/bestsellers/img-2@2x.png 2x" 
            src="./img/bestsellers/img-2@1x.png" 
            alt="The Cozy Lounge Chair"></img>
                <h3 class="bestsellers-list-text">The Cozy Lounge Chair</h3>
                <p class="bestsellers-list-price">230$</p>
        </li>
        <li class="bestsellers-item">
            <img class="bestsellers-list-img"
            srcset="./img/bestsellers/img-3@1x.png 1x, ./img/bestsellers/img-3@2x.png 2x" 
            src="./img/bestsellers/img-3@1x.png" 
            alt="The industrial accent chair"></img>
                <h3 class="bestsellers-list-text">The industrial accent chair</h3>
                <p class="bestsellers-list-price">250$</p>
        </li>
        <li class="bestsellers-item">
            <img class="bestsellers-list-img" 
            srcset="./img/bestsellers/img-4@1x.png 1x, ./img/bestsellers/img-4@2x.png 2x" 
            src="./img/bestsellers/img-4@1x.png" 
            alt="The sleek stand"></img>
                <h3 class="bestsellers-list-text">The sleek stand</h3>
                <p class="bestsellers-list-price">300$</p>
        </li>
        <li class="bestsellers-item">
            <img class="bestsellers-list-img" 
            srcset="./img/bestsellers/img-5@1x.png 1x, ./img/bestsellers/img-5@2x.png 2x" 
            src="./img/bestsellers/img-5@1x.png" 
            alt="The minimalist sofa"></img>
                <h3 class="bestsellers-list-text">The minimalist sofa</h3>
                <p class="bestsellers-list-price">650$</p>
        </li>
    </ul>
  </div>
</section>
