<section class="bestsellers">
  <div class="container">
    <h1 class="bestsellers-title">Bestsellers</h1>
    <div class="bestsellers-wrapper">
      <div class="bestsellers-img-wrapper">
        <img
          class="bestsellers-mob-img"
          srcset="
            ./img/bestsellers/mob-img-1@1x.png 1x,
            ./img/bestsellers/mob-img-1@2x.png 2x
          "
          src="./img/bestsellers/mob-img-1@1x.png"
          alt="The modern platform bed"
        />
        <img
          class="bestsellers-tabl-img"
          srcset="
            ./img/bestsellers/tabl-img-1@1x.png 1x,
            ./img/bestsellers/tabl-img-1@2x.png 2x
          "
          src="./img/bestsellers/tabl-img-1@1x.png"
          alt="The modern platform bed"
        />
        <img
          class="bestsellers-desk-img"
          srcset="
            ./img/bestsellers/desk-img-1@1x.png 1x,
            ./img/bestsellers/desk-img-1@2x.png 2x
          "
          src="./img/bestsellers/desk-img-1@1x.png"
          alt="The modern platform bed"
        />
        <h3 class="bestsellers-list-text">The modern platform bed</h3>
        <p class="bestsellers-list-price">750$</p>
      </div>
      <ul class="bestsellers-list">
        <li class="bestsellers-item">
          <img
            class="bestsellers-list-mobimg"
            srcset="
              ./img/bestsellers/mob-img-2@1x.png 1x,
              ./img/bestsellers/mob-img-2@2x.png 2x
            "
            src="./img/bestsellers/mob-img-2@1x.png"
            alt="The Cozy Lounge Chair"
          />
          <img
            class="bestsellers-list-tablimg"
            srcset="
              ./img/bestsellers/tabl-img-2@1x.png 1x,
              ./img/bestsellers/tabl-img-2@2x.png 2x
            "
            src="./img/bestsellers/tabl-img-2@1x.png"
            alt="The Cozy Lounge Chair"
          />
          <img
            class="bestsellers-list-deskimg"
            srcset="
              ./img/bestsellers/desk-img-2@1x.png 1x,
              ./img/bestsellers/desk-img-2@2x.png 2x
            "
            src="./img/bestsellers/desk-img-2@1x.png"
            alt="The Cozy Lounge Chair"
          />
          <h3 class="bestsellers-list-text">The Cozy Lounge Chair</h3>
          <p class="bestsellers-list-price">230$</p>
        </li>
        <li class="bestsellers-item">
          <img
            class="bestsellers-list-mobimg"
            srcset="
              ./img/bestsellers/mob-img-3@1x.png 1x,
              ./img/bestsellers/mob-img-3@2x.png 2x
            "
            src="./img/bestsellers/mob-img-3@1x.png"
            alt="The industrial accent chair"
          />
          <img
            class="bestsellers-list-tablimg"
            srcset="
              ./img/bestsellers/tabl-img-3@1x.png 1x,
              ./img/bestsellers/tabl-img-3@2x.png 2x
            "
            src="./img/bestsellers/tabl-img-3@1x.png"
            alt="The industrial accent chair"
          />
          <img
            class="bestsellers-list-deskimg"
            srcset="
              ./img/bestsellers/desk-img-3@1x.png 1x,
              ./img/bestsellers/desk-img-3@2x.png 2x
            "
            src="./img/bestsellers/desk-img-3@1x.png"
            alt="The industrial accent chair"
          />
          <h3 class="bestsellers-list-text">The industrial accent chair</h3>
          <p class="bestsellers-list-price">250$</p>
        </li>
        <li class="bestsellers-item disappear">
          <img
            class="bestsellers-list-tablimg"
            srcset="
              ./img/bestsellers/tabl-img-4@1x.png 1x,
              ./img/bestsellers/tabl-img-4@2x.png 2x
            "
            src="./img/bestsellers/tabl-img-4@1x.png"
            alt="The sleek stand"
          />
          <img
            class="bestsellers-list-deskimg"
            srcset="
              ./img/bestsellers/desk-img-4@1x.png 1x,
              ./img/bestsellers/desk-img-4@2x.png 2x
            "
            src="./img/bestsellers/desk-img-4@1x.png"
            alt="The sleek stand"
          />
          <h3 class="bestsellers-list-text">The sleek stand</h3>
          <p class="bestsellers-list-price">300$</p>
        </li>
        <li class="bestsellers-item disappear">
          <img
            class="bestsellers-list-tablimg"
            srcset="
              ./img/bestsellers/tabl-img-5@1x.png 1x,
              ./img/bestsellers/tabl-img-5@2x.png 2x
            "
            src="./img/bestsellers/tabl-img-5@1x.png"
            alt="The minimalist sofa"
          />
          <img
            class="bestsellers-list-deskimg"
            srcset="
              ./img/bestsellers/desk-img-5@1x.png 1x,
              ./img/bestsellers/desk-img-5@2x.png 2x
            "
            src="./img/bestsellers/desk-img-5@1x.png"
            alt="The minimalist sofa"
          />
          <h3 class="bestsellers-list-text">The minimalist sofa</h3>
          <p class="bestsellers-list-price">650$</p>
        </li>
      </ul>
    </div>
  </div>
</section>
