<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/footer.css" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/modern-normalize.min.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/2.0.0/modern-normalize.min.css"
      integrity="sha512-4xo8blKMVCiXpTaLzQSLSw3KFOVPWhm/TRtuPVc4WG6kUgjH6J03IBuG7JZPkcWMxJ5huwaBpOpnwYElP/m6wg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <footer class="footer">
      <div class="div-footer">
       
          <div class="logo-footer">
            <svg class="logo-svg" width="100" height="16">
              <use href="../img/footer.svg#MINIMAL"></use>
            </svg>
          </div>
          <div class="header-footer">
            <ul class="list-footer-header">
              <li class="footer-messenger list">
                <a href="https://uk-ua.facebook.com">
                  <svg class="messenger-svg" width="28" height="28">
                    <use href="../img/footer.svg#facebook-logo"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-messenger list">
                <a href="https://www.instagram.com">
                  <svg class="messenger-svg" width="28" height="28">
                    <use href="../img/footer.svg#instagram-logo"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-messenger list">
                <a href="https://www.youtube.com">
                  <svg class="messenger-svg" width="28" height="28">
                    <use href="../img/footer.svg#youtube-logo"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <div class="menu-footer">
            <ul class="our-menu-footer list">
              <li class="menu-item-footer">
                <a class="About-us-footer link" href="">About us</a>
              </li>
              <li class="menu-item-footer">
                <a class="About-us-footer link" href="">Our products</a>
              </li>
              <li class="menu-item-footer">
                <a class="About-us-footer link" href="">Prices</a>
              </li>
              <li class="menu-item-footer">
                <a class="About-us-footer link" href="">Bestsellers</a>
              </li>
              <li class="menu-item-footer">
                <a class="About-us-footer link" href="">Revievs</a>
              </li>
            </ul>
         
        </div>
        <div class="bundle">
        <div class="footer-geolocation">
          <ul class="list">
            <li class="footer-geo">
              <a
                class="About-us-footer-2 link"
                href="https://www.google.com.ua/maps/place/метро+Почайна,+Оболонский+просп.,+14,+Киев,+01001/@50.4863107,30.4956684,17z/data=!3m1!4b1!4m6!3m5!1s0x40d4cdd36d2177f5:0x86c4d643ee824412!8m2!3d50.4863107!4d30.4982487!16s%2Fg%2F11h88bn19p?entry=ttu"
                target="_blank"
                >Oboloncky Prospect, 14,Kyiv</a
              >
            </li>
            <li class="footer-geo">
              <a class="About-us-footer-2 link" href="">Daily 10:00-21:00</a>
            </li>
          </ul>
        </div>
        <div class="footer-contact">
          <ul class="list">
            <li>
              <a class="About-us-footer-2 link" href="tel:+380669384758"
                >+380669384758</a
              >
            </li>
            <li>
              <a class="About-us-footer-2 link" href="tel:+380679384758"
                >+380679384758</a
              >
            </li>
          </ul>
        </div>
        <div class="our-link"><a class="About-us-footer-2 link" href="minimal.furniture@gmail.com">minimal.furniture@gmail.com</a></div>
        
        </div>
        </div>
      </div>
      <div class="agreement-footer">
          <p class="agreement">
            By using this website, you agree to the
            <a class="agreement-link" href="#">Terms of Service</a> and
            <a class="agreement-link" href="#">Privacy Policy</a>
          </p>
        </div>
    </footer>
  </body>
</html>
