<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <link rel="stylesheet" href="../css/footer.css" />
  </head>

  <body>
    <footer>
      <div class="footer-div">
        <div class="footer-logo">
          <div class="footer-logo-svg">
            <a href="" target="_blank" class="footer-logo-svg-link">
              <svg class="footer-logotype" width="100" height="16">
                <use href="../img/footer.svg#MINIMAL"></use>
              </svg>
            </a>
          </div>
          <div class="footer-social">
            <ul class="footer-list">
              <li class="footer-item">
                <a
                  href="https://uk-ua.facebook.com"
                  target="_blank"
                  class="footer-item-link"
                >
                  <svg class="footer-item-svg" width="28" height="28">
                    <use href="../img/footer.svg#facebook-logo"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-item">
                <a
                  href="https://www.instagram.com"
                  target="_blank"
                  class="footer-item-link"
                >
                  <svg class="footer-item-svg" width="28" height="28">
                    <use href="../img/footer.svg#instagram-logo"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-item">
                <a href="https://www.youtube.com" class="footer-item-link">
                  <svg class="footer-item-svg" width="28" height="28">
                    <use href="../img/footer.svg#youtube-logo"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-menu">
          <ul class="footer-menu-list">
            <li class="footer-item-menu">
              <a href="#about_us" class="footer-menu-link link">About us</a>
            </li>
            <li class="footer-item-menu">
              <a href="#our_products" class="footer-menu-link link"
                >Our products</a
              >
            </li>
            <li class="footer-item-menu">
              <a href="#prices" class="footer-menu-link link">Prices</a>
            </li>
            <li class="footer-item-menu">
              <a href="#bestsellers" class="footer-menu-link link"
                >Bestsellers</a
              >
            </li>
            <li class="footer-item-menu">
              <a href="#reviews" class="footer-menu-link link">Reviews</a>
            </li>
          </ul>
        </div>
        <div class="footer-geo">
          <ul class="footer-geo-list">
            <li>
              <a href="https://www.google.com/maps" class="footer-geo-link link"
                >Obolonsky Prospect, 14, Kyiv</a
              >
            </li>
            <li>Daily 10:00-21:00</li>
          </ul>
        </div>
        <div class="footer-contacts">
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <a href="tel:+380669384758" class="footer-contacts-link link"
                >+380669384758</a
              >
            </li>
            <li class="footer-contacts-item">
              <a href="tel:+380679384758" class="footer-contacts-link link"
                >+380679384758</a
              >
            </li>
            <li class="footer-contacts-item">
              <a
                href="mailto:minimal.furniture@gmail.com"
                class="footer-contacts-link link hiddan-mail"
                >minimal.furniture@gmail.com</a
              >
            </li>
          </ul>
        </div>
        <p class="footer-agreement">
          By using this website, you agree to the
          <a href="#" class="footer-agreement-link link">Terms of Service</a>
          and <a href="#" class="footer-agreement-link link">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </body>
</html>
