<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap"
        rel="stylesheet" />
</head>

<body>
    <main>
        <section class="hero-headbox">
            <div class="hero-headbox-images">
                <h1 class="hero-title">Modern and minimalist furniture for you</h1>
                <div src="images/hero-furniture1-desk.jpg" alt="" class="furniture1-img"></div>
                <div src="images/hero-furtniture2-desk.jpg" alt="" class="furniture2-img"></div>
            </div>
            <div class="hero-headbox-block">
                <div src="images/hero-furniture3-desk.jpg" alt="" class="furniture3-img"></div>
                <p class="hero-btn-text">
                    Add a touch of elegance to your space with handcrafted furniture
                    pieces
                </p>
                <button type="submit" class="hero-subscribe-btn">Subscribe</button>
            </div>
        </section>
    </main>
</body>

</html>