<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
  />
  <link rel="stylesheet" href="./styles-products.css" />
  </head>

  <body>
    <header> </header>
    <main>
      <section class="products">
        <div class="container">
        <h2 class="section-name">Our products</h2>
        <ul class="list list-products">
          <li class="list-goods"> <div class="goods">
            <img
              class="foto-title"
              srcset="./img/product1@1x.jpg 1x, ./img/product1@2x.jpg 2x"
              src="./img/product1@1x.jpg "
              alt="mebel"
              width="312"
              height="300"
              loading="lazy"
            />
            <p class="text-product">Minimalist storage solutions</p>
          </div>
          </li>
          <li class="list-goods tablet">
            <div class="goods">
            <img
              class="foto-title"
              srcset="./img/product2@1x.jpg 1x, ./img/product2@2x.jpg 2x"
              src="./img/product2@1x.jpg "
              alt="mebel"
              width="312"
              height="300"
              loading="lazy"
            />
            <p class="text-product">Handcrafted minimalist seating</p>
            </div>
          </li>
          <li class="list-goods desktop">
            <div class="goods">
            <img
              class="foto-title"
              srcset="./img/product3@1x.jpg 1x, ./img/product3@2x.jpg 2x"
              src="./img/product3@1x.jpg "
              alt="mebel"
              width="312"
              height="300"
              loading="lazy"
            />
            <p class="text-product">Sleek and simple tables</p>
            </div>
          </li>
          <li class="list-goods desktop"><div class="goods">
            <img
              class="foto-title"
              srcset="./img/product4@1x.jpg 1x, ./img/product4@2x.jpg 2x"
              src="./img/product4@1x.jpg "
              alt="mebel"
              width="312"
              height="300"
              loading="lazy"
            />
            <p class="text-product">Minimalist seating for every space</p>
            </div>
          </li>
        </ul></div>
      </section>
    </main>
    <footer> </footer>
  </body>
</html>
