<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/modern-normalize@1.1.0/modern-normalize.min.css"
  />
  <link rel="stylesheet" href="./styles-review.css" />
  </head>

  <body>
    <header> </header>
    <main>
      <section class="section-reviews">
        <div class="container">
        <h2 class="section-name">Clients reviews</h2>
        <ul class="reviews-list list">
          <li class="list-review">
            <div class="block-img-p">
            <img
              class="reviews"
              srcset="./img/reviews1@1x.jpg 1x, ./img/reviews1@2x.jpg 2x"
              src="./img/reviews1@1x.jpg"
              alt="reviews"
              width="56"
              height="56"
              loading="lazy"
            /><div class="name-time">
            <h3 class="name-rewiev">Alexandra Dream</h3>
            <p class="time-rewiev">1 week ago</p></div></div>
            <p class="text-review"
              >I was blown away by the quality and craftsmanship of the furniture I received from
              this company. Each piece was unique and beautifully designed, and you can tell that a
              lot of thought and care goes into every detail.
            </p>
          </li>
          <li class="list-review tablet">
            <div class="block-img-p">
            <img
              class="reviews"
              srcset="./img/reviews2@1x.jpg 1x, ./img/reviews2@2x.jpg 2x"
              src="./img/reviews2@1x.jpg"
              alt="reviews"
              width="56"
              height="56"
              loading="lazy"
            /><div class="name-time">
            <h3 class="name-rewiev">James Williams</h3>
            <p class="time-rewiev">A week ago</p></div></div>
            <p class="text-review"
              >The "Minimal" furniture set is a fantastic addition to my home. It boasts a minimalist design, enhancing the feel and look of my living space. The sturdy construction is worth noting too, which speaks volumes about its durability.
            </p>
          </li>
          <li class="list-review desktop">
            <div class="block-img-p ">
            <img
              class="reviews"
              srcset="./img/reviews3@1x.jpg 1x, ./img/reviews3@2x.jpg 2x"
              src="./img/reviews3@1x.jpg"
              alt="reviews"
              width="56"
              height="56"
              loading="lazy"
            /><div class="name-time">
            <h3 class="name-rewiev">Emily Watson</h3>
            <p class="time-rewiev">3 week ago</p></div></div>
            <p class="text-review"
              >The "Minimal" furniture set has far exceeded my expectations. The sleek design
              combined with the high-quality materials have not only added an exceptional aesthetic
              to my space but also offered an uncompromising standard of comfort.</p
            >
          </li>
        </ul>
       </div>
      </section>
    </main>
    <footer> </footer>
  </body>
</html>
