<section class="price" id="price">
    <div class="container">
        <h2 class="visually-hidden">Chairs Tables Dressers Sofas Price</h2>
        <ul class="price-list">
            <li class="price-item">
                <p class="price-item-text">Chairs</p>
                <span class="price-spn">from 200₴</span>
            </li>
            <li class="price-item">
                <p class="price-item-text">Tables</p>
                <span class="price-spn">from 250₴</span>
            </li>
            <li class="price-item">
                <p class="price-item-text">Dressers</p>
                <span class="price-spn">from 300₴</span>
            </li>
            <li class="price-item">
                <p class="price-item-text">Sofas</p>
                <span class="price-spn">from 500₴</span>
            </li>
        </ul>
    </div>
</section>