<section class="subscription" id="subscription">
    <div class="container subscription-container">
        <div class="subscription-block">
            <h2 class="subscription-title">Newsletter</h2>
            <p class="subscription-text">
                Every week we will send you new designs and information about sales.
            </p>
            <form class="subscription-form">
                <label for="user-name"></label>
                <div class="input-wrapper">
                    <input class="form-input" id="user-name" name="user-name" placeholder="Name" type="text" required
                        minlength="2" maxlength="16" />
                    <svg width="24" height="24" class="input-icon">
                        <use href="./img/icons.svg#icon-input"></use>
                    </svg>
                </div>
                <label for="user-email"></label>
                <div class="input-wrapper">
                    <input class="form-input" id="user-email" name="user-email" placeholder="E-mail" type="email"
                        required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
                    <svg width="24" height="24" class="input-icon">
                        <use href="./img/icons.svg#icon-input"></use>
                    </svg>
                </div>
                <input class="form-checkbox visually-hidden" name="newsletter" id="newsletter" type="checkbox"
                    value="true" required />
                <label class="checkbox-label" for="newsletter">
                    <span class="checkbox-span">
                        <svg class="checkbox-icon" width="13" height="13">
                            <use href="./img/icons.svg#icon-check"></use>
                        </svg>
                    </span>
                    Agree to subscribe to the newsletter
                </label>
                <button type="submit" class="subscription-button">Send</button>
            </form>
        </div>
        <picture>
            <source srcset="./img/subscription.jpg 1x, ./img/subscription-2x.jpg 2x" media="(min-width: 1440px)" />
            <source srcset="./img/subscription-tab.jpg 1x, ./img/subscription-tab-2x.jpg 2x"
                media="(min-width: 768px)" />
            <source srcset="./img/subscription-mob.jpg 1x, ./img/subscription-mob-2x.jpg 2x"
                media="(max-width: 767px)" />
            <img class="subscription-img" src="./img/subscription-tab.jpg " alt="book on table" width="704" />
        </picture>
    </div>
</section>