.bestsellers {
    padding-top: 32px;
    padding-bottom: 32px;
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .bestsellers {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .disappear {
        display: none;
    }
}


.bestsellers-title {
    color: var(--blue-font, #0A224A);
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 21px;
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .bestsellers-title {
        font-size: 32px;
        line-height: 1.4;
        margin-bottom: 30px;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        width: 1096px;
        margin: 0 auto;
    }
}

.bestsellers-img-wrapper {
    margin-bottom: 30px;
    width: 343px;
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .bestsellers-img-wrapper {
        margin-bottom: 32px;
        width: 704px;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-img-wrapper {
        width: 536px;
    }
}

/* //////////////Mobile screen///////////// */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .bestsellers-mob-img {
        width: 100%;
        margin-bottom: 14px;
    }

    .bestsellers-tabl-img {
        display: none;
    }

    .bestsellers-desk-img {
        display: none;
    }
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .bestsellers-tabl-img {
        margin-bottom: 15px;
        width: 100%;
    }

    .bestsellers-mob-img {
        display: none;
    }

    .bestsellers-desk-img {
        display: none;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-desk-img {
        margin-bottom: 15px;
        width: 100%;
    }

    .bestsellers-mob-img {
        display: none;
    }

    .bestsellers-tabl-img {
        display: none;
    }
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .bestsellers-list {
        display: flex;
        flex-wrap: wrap;
        gap: 32px;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-list {
        width: 536px;
        row-gap: 0;
        column-gap: 20px;
    }
}

.bestsellers-item {
    width: 343px;
}

.bestsellers-item:not(:last-child) {
    margin-bottom: 30px;
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) {
    .bestsellers-item {
        width: 336px;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-item {
        width: 258px;
        margin-bottom: 0;
    }
}

/* //////////////Mobile screen///////////// */

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .bestsellers-list-mobimg {
        width: 100%;
        margin-bottom: 14px;
    }

    .bestsellers-list-tablimg {
        display: none;
    }

    .bestsellers-list-deskimg {
        display: none;
    }
}

/* ////////Tablet screen////////// */

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .bestsellers-list-tablimg {
        width: 100%;
        margin-bottom: 14px;
    }

    .bestsellers-list-mobimg {
        display: none;
    }

    .bestsellers-list-deskimg {
        display: none;
    }
}

/* /////////Desktop screen//////////// */

@media only screen and (min-width: 1440px) {
    .bestsellers-list-deskimg {
        margin-bottom: 14px;
        width: 100%;
    }

    .bestsellers-list-mobimg {
        display: none;
    }

    .bestsellers-list-tablimg {
        display: none;
    }
}

.bestsellers-list-text {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 10px;
}

.bestsellers-list-price {
    color: var(--blue-font, #0A224A);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
}