ul,
ol {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  margin: 0 auto;
}
.link {
  text-decoration: none;
}

footer {
  background-color: #0a224a;
  /* color: #ffff; */
}

.footer-div {
  padding: 36px 16px 16px 16px;
}
.footer-logo {
  display: flex;
  align-items: center;
  margin-bottom: 36px;
}

.footer-logo-svg {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.footer-logotype {
  fill: #ffff;
}

.footer-list {
  display: flex;
  margin: 0;
  padding-left: 0px;
  gap: 16px;
}

.footer-item-svg {
  fill: #ffff;
}

.footer-item-link {
  display: block;
  width: 28px;
  height: 28px;
}

.footer-logo-svg {
  height: 16px;
}

.footer-menu {
  margin-bottom: 36px;
}

.footer-menu-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-menu-link {
  color: #ffff;
}

.footer-geo {
  margin-bottom: 35px;
}

.footer-geo-list {
  color: #ffff;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-geo-link {
  color: #ffff;
}

.footer-contacts {
  margin-bottom: 64px;
}

.footer-contacts-list {
  color: #ffff;
}

.footer-contacts-item {
}
.footer-contacts-item:first-child {
  margin-bottom: 8px;
}

.footer-contacts-link {
  color: #ffff;
}
.hiddan-mail {
  display: none;
}

.footer-agreement {
  opacity: 0.6;
  color: #ffff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2; /* 116.667% */
  letter-spacing: 0.18em;
}

.footer-agreement-link {
  color: #ffff;
  text-decoration: underline;
}

@media screen and (min-width: 375px) {
  .footer-div {
    max-width: 343px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-div {
    max-width: 704px;
    padding: 36px 32px 36px 32px;
    margin: 0 auto;
    position: relative;
  }

  .footer-logotype {
    width: 127px;
    height: 16;
  }

  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-item {
    height: 40px;
    width: 40px;
  }
  .footer-item-svg {
    width: 40px;
    height: 40px;
  }

  .footer-menu {
    display: inline-flex;
    position: absolute;
    top: 36px;
    right: 250px;
    margin-bottom: 0px;
    padding: 8px 8px;
  }

  .footer-menu-list {
    gap: 16px;
  }

  .footer-geo {
    margin-bottom: 64px;
  }

  .footer-geo-list {
    gap: 24px;
  }

  .hiddan-mail {
    display: block;
  }

  .footer-contacts-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .footer-contacts-item {
    font-family: roboto;
    font-size: 19px;
    letter-spacing: 0.01em;
  }
  .footer-contacts-item:first-child {
    margin-bottom: 0;
  }
  .footer-contacts {
    margin-bottom: 64px;
  }

  .footer-agreement {
    opacity: 0.6;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.08em;
  }
}

@media screen and (min-width: 1440px) {
  .footer-div {
    max-width: 1376px;
    margin: 0 auto;
    position: relative;
  }

  .footer-logo {
    margin-bottom: 39px;
  }

  .footer-menu {
    left: 396px;
    top: 36px;
  }

  .footer-menu-list {
    flex-direction: row;
    gap: 30px;
  }

  .footer-geo {
    margin-bottom: 35px;
  }

  .footer-contacts {
    max-width: 350px;
    position: absolute;
    top: 103px;
    left: 396px;
    margin-bottom: 0;
  }

  .footer-contacts-list {
    flex-wrap: wrap;
    height: 70px;
    gap: 24px 82px;
  }
}
