ul {
  padding-left: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
p {
  margin: 0;
}
.footer {
  background-color: #0a224a;
  padding: 36px 16px 16px 16px;
}
@media only screen and (min-width: 768px) {
  .footer {
    padding: 48px 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .footer {
    padding: 60px 48px;
  }
}
.div-footer {
  position: relative;
}
@media only screen and (min-width: 768px) {
  .div-footer {
    display: flex;
    flex-wrap: wrap;
  }
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.header-footer {
  display: flex;
  position: absolute;
  top: 0px;
  right: 0px;
}
.list-footer-header {
  display: flex;
  gap: 16px;
}

.logo-footer {
  padding: 8px 0px;
  margin-bottom: 36px;
}
@media only screen and (min-width: 768px) {
  .logo-footer {
    margin-right: 249px;
    height: 16px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 1440px) {
  .logo-footer {
    margin-right: 216.42px;
  }
}

.menu-footer {
  margin-bottom: 36px;
}
@media only screen and (min-width: 1440px) {
  .menu-footer {
    margin-bottom: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .our-menu-footer {
    display: flex;
    padding-right: 400px;
    gap: 30px;
  }
}

.About-us-footer {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media only screen and (min-width: 1440px) {
  .About-us-footer {
    font-size: 18px;

    line-height: 27px;
  }
}
.About-us-footer-2 {
  color: var(--white, #fff);
  font-family: Roboto;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.19px;
}
.footer-geolocation {
  margin-bottom: 36px;
}
@media only screen and (min-width: 1440px) {
  .footer-geolocation {
    margin-bottom: 32px;
  }
}
.menu-item-footer:not(:last-child) {
  margin-bottom: 8px;
}
.footer-geo:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contact {
  margin-bottom: 64px;
}
@media only screen and (min-width: 1440px) {
  .footer-contact {
    margin: 0px 82px 0px 65px;
  }
}
.agreement {
  color: #fff;
  opacity: 60%;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 1.188px;
}
@media only screen and (min-width: 1440px) {
  .agreement {
    font-size: 16px;
    line-height: 20px;
  }
}

.agreement-link {
  color: #fff;
  opacity: 60%;
}
@media only screen and (min-width: 1440px) {
  .bundle {
    display: flex;
  }
}
@media only screen and (max-width: 767.9px) {
  .our-link {
    display: none;
  }
}
